:root {
  --white: #fff;
  --blue: #4EA8DE;
  --purple: #8284FA;
  --gray-200: #F2F2F2;
  --gray-300: #808080;
  --gray-400: #333333;
  --gray-500: #262626;
  --gray-700: #0D0D0D;
  --blue-dark: #1E6F9F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--gray-400);
  color: var(--white);
}

body, input, textarea, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}